services:
  app:
    build: .
    ports:
      - "3000:80"
    env_file:
      - .env
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - ./server/db.json:/app/server/db.json
    restart: always
